<!---Sin Footer-->
{% load static %}
{% block css %}

{% endblock css %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'IND'%}">
        <img src="{%static 'img/LogoPNG.png'%}" alt="Logo de mi sitio web">
    </a>
    <a class="btn btn-secondary ml-2" href="{%url 'IND'%}">Volver atrás</a>
</nav>
{% block contenedor %}


{% endblock contenedor %}

{% block js %}

{% endblock js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="{%static 'js/scriptsgenerales.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // Asigna las URL a variables JavaScript
        var loginURL = "{% url 'LOG' %}";
        var dashboardURL = "{% url 'IND' %}";
        var asistenciaURL = "{% url 'ASIS' %}";
        var listaalumnosURL = "{% url 'LALU' %}";
        var listaasistenciaURL = "{% url 'LASIS' %}";
        var listacursosURL = "{% url 'LCUR' %}";
        var modificarnotasURL = "{% url 'MODN' %}";
        var notasURL = "{% url 'NON' %}";
        var situacionalumnosURL = "{% url 'SISA' %}";
        var anotacionesURL = "{% url 'ANOT' %}";
        var comunicadoURL = "{% url 'COM' %}";
    </script>
</body>
</html>