{% extends "base3.html" %}
{% load static %}

{% block contenedor %}
<div class="container mt-5">
    <h1>Historial de Comunicados</h1>

    <table class="table table-striped table-dark">
        <thead class="thead-light">
            <tr>
                <th scope="col">Título</th>
                <th scope="col">Fecha de Envío</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for comunicado in comunicados %}
            <tr>
                <td>
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#comunicado-{{ comunicado.id }}" aria-expanded="false">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    {{ comunicado.titulo }}
                </td>
                <td>{{ comunicado.fecha_envio }}</td>
                <td>
                    {% if comunicado.tipo_comunicado == 'U' %}
                    <span class="badge badge-danger">Urgente</span>
                    {% else %}
                    <span class="badge badge-info">General</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="button" data-toggle="collapse" data-target="#comunicado-{{ comunicado.id }}" aria-expanded="false">
                        Mostrar Contenido
                    </button>
                    <div class="accordion-body collapse" id="comunicado-{{ comunicado.id }}">
                        {{ comunicado.contenido }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock contenedor %}


