{% extends "base3.html" %}
{% block contenedor %}
    <h1>Historial de Anotaciones</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Curso</th>
                <th>Tipo</th>
                <th>Fecha de Creación</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
            {% for anotacion in anotaciones %}
            <tr>
                <td>
                    {{ anotacion.alumno.nombres }} {{ anotacion.alumno.apellidoP }} {{ anotacion.alumno.apellidoM }}
                </td>
                <td>{{ anotacion.alumno.curso.nombrecurso }}</td>
                <td>{{ anotacion.tipo_anotacion }}</td>
                <td>{{ anotacion.fecha }}</td>
                <td>
                    <button type="button" data-toggle="collapse" data-target="#contenido-{{ anotacion.id }}" aria-expanded="false">
                        <i class="fas fa-chevron-down"></i> Mostrar Contenido
                    </button>
                    <div class="collapse" id="contenido-{{ anotacion.id }}">
                        {{ anotacion.comentario }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenedor %}
