<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Asistencia</title>
    <!-- Enlaces a los archivos CSS de Bootstrap a través de BootstrapCDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/listadodecursos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../css/footer.css">

</head>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="index.html">
        <img src="../img/LogoPNG.png" alt="Logo de mi sitio web">
    </a>
    <a class="btn btn-secondary ml-2" href="../html/index.html">Volver atrás</a>
</nav>
<body>
    <div class="container mt-5">
        <h1>Listado de Asistencia</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Asignatura</th>
                    <th scope="col">Alumnos</th>
                    <th scope="col">% de Asistencia</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Curso A</td>
                    <td>Asignatura 1</td>
                    <td>25</td>
                    <td>85%</td>
                    <td>
                        <button class="btn btn-primary" onclick="iniciarClase()">Empezar clase</button>
                    </td>
                </tr>
                <tr>
                    <td>Curso B</td>
                    <td>Asignatura 2</td>
                    <td>30</td>
                    <td>90%</td>
                    <td>
                        <button class="btn btn-primary" onclick="iniciarClase()">Empezar Clase</button>
                    </td>
                </tr>
                <!-- Agrega más filas para más cursos si es necesario -->
            </tbody>
        </table>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="containerrr">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Servicios</h3>
                        <ul>
                            <li><a href="listadodecursos.html">Lista de Cursos</a></li>
                            <li><a href="listadoasistencia.html">Listado de Asistencia</a></li>
                            <li><a href="situacionalumnos.html">Situacion de los alumnos</a></li>
                            <li><a href="comunicado.html">Generar Comunicado</a></li>
                            <li><a href="notas.html">Modificar Notas</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Acerca de</h3>
                        <ul>
                            <li><a href="https://www.duoc.cl/sedes/puente-alto/">Duoc UC Puente Alto</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Registra App</h3>
                        <p>Registra App WEB es una aplicación web diseñada para facilitar el seguimiento de la asistencia de los alumnos por parte de los profesores de manera eficiente y conveniente. Con esta aplicación, los profesores pueden llevar un registro preciso de la asistencia de sus estudiantes de manera rápida y sencilla.</p>
                    </div>
                    <div class="col item social"><a href="https://www.facebook.com/cittduoc.uc/?locale=es_LA"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/cittduocuc/?hl=es-la"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">© 2023 Registra App.</p>
            </div>
        </footer>
    </div>    
    <!-- Inclusión de Bootstrap JS a través de BootstrapCDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="../js/scriptsgenerales.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
