{% extends "base2.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/listadodecursos.css' %}">
{% endblock css %}
{% block contenedor %}
    <div class="container mt-5">
        <h1>Listado de Asistencia</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Alumnos</th>
                    <th scope="col">% de Asistencia</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nombrecurso }}</td>
                    <td>{{ curso.cantidad_alumnos }}</td>
                    <td>{{ curso.porcentaje_asistencia|default:"0.00" }}%</td>
                    <td>
                        <a data-curso-id="{{ curso.id }}" onclick="iniciarClase(this)" class="btn btn-primary">Empezar clase</a>
            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock contenedor%}
{% block js %}
<script>
    // Recorrer cada fila de la tabla y calcular el porcentaje de asistencia
    document.addEventListener('DOMContentLoaded', function () {
        const cursos = {{ cursos|safe }};
        cursos.forEach(curso => {
            const porcentaje = (curso.alumnos > 0) ? (curso.asistencias / (curso.alumnos * curso.total_clases)) * 100 : 0;
            const porcentajeElement = document.getElementById(`porcentaje-asistencia-${curso.id}`);
            porcentajeElement.textContent = porcentaje.toFixed(2) + '%';
        });
    });
</script>
{% endblock js %}