{% extends "base3.html" %}
{% load static %}

{% block contenedor %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ profesor.foto_perfil.url }}" alt="Foto de Perfil" class="rounded-circle" width="150">
        </div>
        <div class="col-md-9">
            <h1>{{ profesor.userp.first_name }} {{ profesor.userp.last_name }}</h1>
            <p><strong>Título:</strong>  {{ profesor.titulo }}</p>
            <p><strong>Ramo que enseña:</strong> {{ profesor.materia.nombre }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ profesor.fecha_nacimiento }}</p>
            <p><strong>Cantidad de Alumnos:</strong> {{ profesor.cantidad_alumnos }}</p>
            <p><strong>Correo Electrónico:</strong> {{ profesor.correo }}</p>
            <p><strong>Teléfono de Contacto:</strong> {{ profesor.telefono }}</p>
            <p><strong>Redes Sociales:</strong> {{ profesor.redes_sociales }}</p>
        </div>
    </div>

    <h2>Cursos que enseña</h2>
    <ul>
        {% for curso in profesor.cursos.all %}
            <li>{{ curso.nombrecurso }} ({{ curso.aniocurso }})</li>
        {% endfor %}
    </ul>
</div>
{% endblock contenedor %}


