{% extends "base2.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/listadodecursos.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

{% endblock css %}

{% block contenedor %}
<body>
    <div class="container mt-5">
        <h1>Situación de Alumnos</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre del Alumno</th>
                    <th scope="col">Curso</th>
                    <th scope="col">% de Asistencia</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos_reprobados %}
                <tr>
                    <td><img src="{% static 'img/fotodefault.png' %}" class="rounded-circle" width="55"></td>
                    <td>{{ alumno.usera.first_name }} {{ alumno.usera.last_name }}</td>
                    <td>{{ alumno.curso.nombrecurso }}</td>
                    <td class="asistencia-baja">{{ alumno.porcentaje_asistencia|default:"0.00" }}%</td>
                    <td>
                        <form method="post" id="reprobar-form-{{ alumno.id }}">
                            {% csrf_token %}
                            <button class="btn btn-danger" data-alumno-id="{{ alumno.id }}" onclick="reprobarAlumno(this)">Reprobar por Inasistencia</button>
                        </form>
                    </td>                                                                      
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock contenedor %}

